body {
	font-family: Arial, sans-serif;
}


.text {
	font-size: 20px;
}

nav ul li {
	display: inline-block;
	margin: 0 15px;
	padding: 0;
	text-transform: uppercase;
}

nav ul {
	margin: 0 auto;
	padding: 30px;
}

nav {
	background-color: #34495E;
	color: #E6E6FA;
	position: fixed;
	z-index: 1;
	width: 100%;
}

header {
	top: 100px;
	position: relative;
}

nav a:hover {
	color: #e2127A;
}

li a {
	text-decoration: none;
}

nav a {
	color: #E6E6FA;
}

.homepageheader {
	padding-top: 200px;
}

.navigation {
	text-decoration: none;
}