body {
	font-family: Arial, sans-serif;
}

p {
	font-size: 20px;
	font-family: 'IBM Plex Mono', sans-serif;
}

header {
	top: 100px;
	position: relative;
	margin: 0;
}

nav ul li {
	display: inline-block;
	margin: 0 15px;
	padding: 0;
	text-transform: uppercase;
}

nav {
	background-color: #34495E;
	color: #E6E6FA;
	position: fixed;
	z-index: 1;
	width: 100%;
	margin: 0;
}

nav ul {
	margin: 0 auto;
	padding: 30px;
}

nav a {
	color: #E6E6FA;
	font-family: 'Abel', sans-serif;
	font-size: 25px;
}

nav a:hover {
	color: #e2127A;
}

li a {
	text-decoration: none;
}

body img {
	width: 350px;
	max-height: 30%;
	max-width: 30%;
	border: 10px solid #778899;
	float: right;
	margin-right: 50px;
}

.me {
	margin-top: 100px;
	width: 250px;
	max-height: 30%;
	max-width: 30%;
	border: 10px solid #778899;
	float: right;
	margin-right: 50px;
}

.aboutcareer {
	padding-top: 100px;
	font-family: 'Oxanium', sans-serif;
	color: black;
	text-align: left;
	margin-left: 50px;
	line-height: 35px;
}

.aboutfacts {
	margin-left: 50px;
	color: black;
	text-align: left;
	font-family: 'Oxanium', sans-serif;
}

.aboutgoals {
	margin-left: 50px;
	padding-bottom: 50px;
	font-family: 'Oxanium', sans-serif;
}

.list {
	font-size: 20px;
	line-height: 40px;
	display: inline;
	font-family: 'IBM Plex Mono', sans-serif;
	padding: 0 0 0 0;
}

.homepageheader {
	padding-top: 300px;
	font-family: 'Oxanium', sans-serif;
	font-size: 80px;
	color: white;
	background-image: url(https://cdn6.f-cdn.com/contestentries/1370548/19120511/5b4d43f5c58ce_thumb900.jpg);
	background-repeat: round;
	background-size: 100%;
	text-align: center;
}

.LikesImages {
	padding-top: 0px;
	float: right;
}

.navigation {
	text-decoration: none;
}

.footer {
	background-color: #e2127A;
	text-align: center;
	color: white;
	padding: 50px;
	font-family: 'Oxanium', sans-serif;
}