body {
	font-family: Arial, sans-serif;
}

header {
	top: 100px;
	position: relative;
	margin: 0;
}

nav ul li {
	display: inline-block;
	margin: 0 15px;
	padding: 0;
	text-transform: uppercase;
}

nav {
	background-color: #34495E;
	color: #E6E6FA;
	position: fixed;
	z-index: 1;
	width: 100%;
}

nav ul {
	margin: 0 auto;
	padding: 30px;
}

nav a {
	color: #E6E6FA;
}

nav a:hover {
	color: #e2127A;
}

li a {
	text-decoration: none;
}

.homepageheader {
	padding-top: 300px;
	font-family: 'Oxanium', sans-serif;
	font-size: 60px;
	color: white;
	background-image: url(https://png.pngtree.com/thumb_back/fw800/back_our/20190621/ourmid/pngtree-colorful-technology-internet-background-illustration-image_189811.jpg);
	background-repeat: round;
	background-size: 100%;
	text-align: center;
}

.navigation {
	text-decoration: none;
}

.footer {
	background-color: #e2127A;
	text-align: center;
	color: white;
	padding: 50px;
	font-family: 'Oxanium', sans-serif;
}